@import url('https://fonts.googleapis.com/css?family=PT+Mono');
.page {
  
  transition: all .5s ease;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'PT Mono', monospace;
  background-color: hsl(0, 100%, 100%);
  color: hsl(0, 100%, 0%);

  margin: 0;
  overflow: scroll;
  
}

::-webkit-scrollbar {
  width: 0px;
 /* display: none;*/
}
